body {
  /* background-color: #ecd0cb;  */
  background-image: url(/images/flowers6.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:cover;
  font-family: "Roboto", sans-serif;
  height: 150vh;
  position: relative;
  margin: 0;
  padding: 0;
}

h1 {
    text-align: center;
    color: white;
    background-color: rgba(66, 82, 65, 0.7);
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin:0;
    padding: 0;
}

form {
  width: 40rem;
  margin: 6rem auto;
  background-color: rgba(66, 82, 65, 0.9);
  padding: 1rem;
  border-radius: 6px;
}

label {
  margin-bottom: 0.5rem;
  display: block;
  color: rgb(255, 254, 254);
}

textarea {
    resize: none;
}

input,
textarea,
select {
  background-color: rgb(235, 245, 242);
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 3px;
  padding: 0.25rem;
  color: rgb(61, 58, 58);
}

input:focus
textarea:focus {
  background-color: rgb(201, 218, 214);
  color: rgb(2, 51, 40);
  border-color: rgb(2, 51, 40);
}

button {
  display: block;
  padding: 0.5rem 1.5rem;
  background-color: #8a5e68;
  color: rgb(255, 254, 254);
  border: 1px solid #69514d;
  border-radius: 4px;
  text-transform: uppercase;
  font: inherit;
  cursor: pointer;
}

button:hover {
  background-color: #946e77;
}

h2 {
    color: rgb(255, 254, 254); 
}

.form-control-inline {
    display: flex;
}

.form-control-inline input {
width: auto;
margin-right: 0.5rem;
}
